.bg-default {
    background: linear-gradient(180deg, rgba(255, 182, 185, 0.7) 3.12%, rgba(243, 246, 250, 0) 78.65%), url('../img/brand/main-texture.png') !important;
}

.bg-gradient-primary
{
    background: linear-gradient(180deg, rgba(255, 182, 185, 0.7) 3.12%, rgba(243, 246, 250, 0) 78.65%), url('../img/brand/main-bg.png') 0/cover no-repeat !important;
}

.bg-gradient-secondary
{
    background:  url('../img/brand/bg-2.png') 0/cover no-repeat !important;
}

.bg-footer
{
    background-color: rgba(135, 133, 162, 0.32) !important;
}

.navbar-horizontal .navbar-brand img
{
    height: 120px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #3A4750;
    font-weight: bold;
}

.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-pink
{
    color: #fff;
    border-color: #F67280;
    background-color: #F67280;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-pink:hover
{
    color: #fff;
    border-color: #F67280;
    background-color: #F67280;
}
.btn-pink:focus,
.btn-pink.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(245, 54, 92, .5);
}
.btn-pink.disabled,
.btn-pink:disabled
{
    color: #fff;
    border-color: #F67280;
    background-color: #F67280;
}
.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle
{
    color: #fff;
    border-color: #F67280;
    background-color: #ec0c38;
}
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus
{
    box-shadow: none, 0 0 0 0 rgba(245, 54, 92, .5);
}

.feedback-container {
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FBE1B6;
    overflow: hidden;
    text-align: center;
}

.feedback-container div span {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px
}

.feedback-button {
    width: 100px;
    height: 32px;
    margin: 16px;
    border-radius: 20px;
    background-color: #FFECDA;
    border: 0px solid transparent;
}

.feedback-button-maker {
    width: 200px;
    height: 32px;
    margin: 16px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0px solid transparent;
}

.feedback-container div h2 {
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    color: #000;
}

.feedback-container div textarea {
    background-color: #FBAC91;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
}

#feedback-name {
    width: 200px;
    background-color: #FBE1B6;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;

}

#feedback-name:focus {
    outline: none;
}

.templates-img {
    display: unset !important;
    width: unset !important;
    cursor: pointer;
}
